<style>
    * {}
    
    .contenedor {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: 90%;
        margin: auto;
    }
    
    .padre {
        border: 1px solid #A8D08D;
    }
    
    .title {
        color: #1E3C7B;
    }
    
    .t {
        width: 100%;
        border-collapse: collapse;
    }
    
    .s {
        border: 0px;
    }
    
    .t td {
        border: 1px solid #A8D08D;
        padding: 5px;
    }
    
    .none {
        padding: 0px !important;
        border: 0px !important;
    }
    
    .titulo {
        padding: 0 8px;
        font-size: 11px;
    }
    
    .titulo2 {
        background: #f3f3f3;
    }
    
    .center {
        text-align: center;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .small {
        font-size: 10px !important;
    }
    
    .firma {
        text-align: center;
    }
    
    .firma img {
        width: 80px;
    }
    
    .t tr {
        page-break-inside: avoid;
    }
    
    .image img {
        width: 200px !important;
        height: 250px !important;
    }
    
    .tt td {
        border: 0px !important;
    }
    
    .b {
        border-bottom: 1px solid #A8D08D;
    }
    
    .mitad {
        width: 50%;
    }
    
    .vtgps {
        display: none !important;
    }
    
    .contentFigures td {
        text-align: center;
    }
    
    .contentFigures img,
    .contentFigures figure {
        text-align: center;
        margin: auto;
        width: 200px !important;
        height: 250px !important;
    }
    
    .mitad {
        width: 300px;
    }
    
    .verde {
        background: #E2EFD9;
    }
    
    .colorVerde {
        color: #385624;
    }
    
    .o td {
        border: 0px !important;
    }
    
    .colorBorder {
        border-top: 2px solid #188A57;
    }
    
    .general tr:nth-child(even) {
        background: #f3f3f3;
    }
    
    .gra {
        display: contents;
    }
</style>
<div class="contenedor">
    <table class="t" cellspacing="0" cellspadding="0">

        <thead>
            <tr>
                <td colspan="" style="padding:8px; border: 0px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="padding:0px; border:0px;">
                    <table class="t" style="width:100%; border:0px;">

                        <tr>
                            <td style="width: 200px;" class="center">
                                <img src="https://s3.amazonaws.com/logocompanies/0DAD6CB0-A113-4FD9-9805-D6E1EA925943.PNG
                                                 " width="250px" alt="">
                            </td>
                            <td class="center bold" style=" font-size: 18px; background: #fafafa;">KARDEX- Tarjeta de control de existencia</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="" style="padding:8px; border: 0px;"></td>
            </tr>
        </thead>





        <tbody>
            <tr>
                <td class="none">
                    <table class="t">
                        <tr>
                            <td class="bold">Fecha: <span id="desde"></span> hasta <span id="hasta"></span> </td>
                            <td class="bold">Sede: <span id="sede"></span></td>
                        </tr>
                        <tr>
                            <td class="center bold">
                                <div>SEDE</div>
                                <select class="center" style="padding: 10px; background: #FFEDB7; outline: none; border: 1px solid rgba(0,0,0,0.1);" name="" id="locs">
                                    <option value="Seleccione Insumo">Seleccione Cliente</option>
                                    <option value="Todos los clientes">Todos los clientes</option>
                                </select>
                            </td>
                            <td class="center bold">
                                <div>INSUMO</div>
                                <select class="center" style="padding: 10px; background: #FFEDB7; outline: none; border: 1px solid rgba(0,0,0,0.1);" name="" id="ins">
                                    <option value="Seleccione Responsable">Seleccione Insumo</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="none">
                    <table class="t">
                        <tr style="background: #777; color: #fff;">
                            <td class="center bold">FECHA</td>
                            <td class="center bold">TODOS USUARIO</td>
                            <td class="center bold">CLIENTE</td>
                            <td class="center bold">INSUMO</td>


                            <td class="center bold">ENTRADA</td>
                            <td class="center bold">UNID. MEDIDA</td>
                            <td class="center bold">PISCINA</td>
                            <td class="center bold">SALIDA</td>
                            <!-- <td class="center bold" >SALDO</td> -->
                            <td class="center bold">TOTAL SALIDAS PERIODO CONSULTADO</td>
                            <td class="center bold">SALDO ANTERIOR BODEGA</td>
                            <td class="center bold">SALDO ACTUAL BODEGA</td>
                        </tr>

                        <tbody id="general" class="general">

                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="none">
                    <table class="t">
                        <tbody>
                            <tr>
                                <td id="gra" class="gra">

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>


        </tbody>




        <script type="text/template" id="graf">
            <span style="display: inline-block; margin: .5%; width: 49%; height: 200px; background-color: #f1f1f1;" id="<%= id %>"></span>
        </script>

        <script type="text/template" id="tabla">
            <tr>
                <td class="center bold">
                    <%= fecha %>
                </td>
                <td class="center bold">
                    <%= cliente %>
                </td>
                <td class="center bold">
                    <%= insumo %>
                </td>

                <td class="center bold">
                    <%= entrada %>
                </td>
                <td class="center bold">
                    <%= unid %>
                </td>
                <td style="font-size: 11px;">
                    <%= piscina %>
                </td>
                <td class="center bold">
                    <%= salida %>
                </td>
                <td class="center bold">
                    <%= totalsalidas %>
                </td>
                <td class="center bold">
                    <%= saldoanterior %>
                </td>
                <td class="center bold">
                    <%= saldoactual %>
                </td>

            </tr>
        </script>
    </table>
    </center>

    <script type="text/javascript">
        /*function getList(list, location, name) {
                            var salida = "";
                            list.forEach(element => {
                                if (element.LocationName == location) {
                                    if (element.Name == name) {
                                        (element.Values).forEach(element2 => {
                                            if (element2.apiId == "VT_QTY") {
                                                salida = element2.Value;
                                            }
                                        });
                                    }
                                }
                                // console.log((salida));
                            });
                            return salida
                        }*/


        function construir(locations, lists, assets, data_) {
            $.each(locations, function(i, loc) {
                var insumos = _.where(lists, {
                    LocationName: loc.Name
                });

                //  console.log(insumos, loc.Name);

                $.each(insumos, function(j, ins) {
                    var ass = _.where(assets, {
                        LocationName: loc.Name
                    });
                    var arrayInsumos = [];
                    var sal = 0;
                    var entradas = 0;

                    // console.log(ass, ins.Name);

                    $.each(ass, function(j, as) {
                        var data = data_.filter(function(ff) {
                            return ff.loc_name == loc.Name && ff.ass_name == as.Name && ff.md_kardex_name == ins.Name
                        });
                        // console.log(data, loc.Name, ins.Name)

                        var salidas = 0;
                        var usuarios = []
                        var mov = '';
                        var ca = 0;

                        if (loc.Name.includes("Visitrack")) {
                            console.log(data);
                        }

                        $.each(data, function(g, dat) {
                            if (dat.md_kardex_vt_qty_reference === 'EGRESO') {
                                salidas = salidas + parseFloat(dat.md_kardex_vt_qty)

                            } else if (dat.md_kardex_vt_qty_reference === 'INGRESO') {
                                entradas = entradas + parseFloat(dat.md_kardex_vt_qty)
                            }

                            if (g === (data.length - 1)) {
                                mov = dat.md_kardex_vt_qty_reference;
                                ca = dat.md_kardex_vt_qty;
                            }

                            usuarios.push(dat.act_piscinero);
                        })

                        arrayInsumos.push({
                            usuarios: usuarios.join(),
                            ass: as.Name,
                            salidas: salidas,
                            mov: mov,
                            val: ca
                        })

                        sal = sal + salidas;



                    })

                    $.each(arrayInsumos, function(d, arrIns) {
                        if (d === 0) {

                            var anterior = 0;

                            var mov = arrayInsumos[arrayInsumos.length - 1];

                            if (mov.mov === 'EGRESO') {
                                anterior = parseFloat(mov.val) + parseFloat(ins.Values[1].Value);
                            } else {
                                if (parseFloat(ins.Values[1].Value) > parseFloat(mov.val)) {
                                    anterior = parseFloat(ins.Values[1].Value) - parseFloat(mov.val);
                                } else {
                                    anterior = parseFloat(mov.val) - parseFloat(ins.Values[1].Value);
                                }

                            }

                            var html = `<tr>
                                    <td class="center bold">${desde} - ${hasta}</td>
                                    <td class="center bold">${arrIns.usuarios}</td>
                                    <td class="center bold">${loc.Name}</td>
                                    <td class="center bold">${ins.Name}</td>
        
        
                                    <td class="center bold" rowspan="${arrayInsumos.length}">${entradas}</td>
                                    <td class="center bold">${ins.Values[2].Value}</td>
                                    <td class="center bold">${arrIns.ass}</td>
                                    <td class="center bold">${arrIns.salidas}</td>
                                
                                    <td class="center bold" rowspan="${arrayInsumos.length}">${sal}</td>
                                    <td class="center bold" rowspan="${arrayInsumos.length}">${anterior}</td>
                                    <td class="center bold" rowspan="${arrayInsumos.length}">${ins.Values[1].Value}</td>
                                </tr>`;

                            $("#general").append(html);

                        } else {
                            var html = `<tr>
                                        <td class="center bold">FECHA</td>
                                        <td class="center bold">${arrIns.usuarios}</td>
                                        <td class="center bold">${loc.Name}</td>
                                        <td class="center bold">${ins.Name}</td>
        
                                        <td class="center bold">${ins.Values[2].Value}</td>
                                        <td class="center bold">${arrIns.ass}</td>
                                        <td class="center bold">${arrIns.salidas}</td>
                                    
                                       
                                    </tr>`;

                            $("#general").append(html);
                        }
                    })


                })


            })

            app.isHtml = true;

        }


        function LoadMyCustoms(response, lan, filters) {
            try {
                moment.locale('es');


                console.log(filters);
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {

                    var filter_to;
                    var filter_from;
                    if (typeof(filters) != 'undefined') {
                        filter_to = moment(moment(filters.dateto).format('YYYY-MM-DD HH:mm'));
                        filter_from = moment(moment(filters.datefrom).format('YYYY-MM-DD HH:mm'));
                    }

                    var hasta = moment(filter_to._i).format("LL");
                    var desde = moment(filter_from._i).format("LL");

                    $("#desde").html(desde);
                    $("#hasta").html(hasta);
                    var data_ = [];


                    $.each(response[0].data, function(l, dat) {
                        var datos = {};
                        data_.push(dat);
                    })



                    var locations = filters.EntitiesData.filter(function(item) {
                        return item.EntityID === '5423' && item.Name !== '';
                    })

                    var lists = filters.EntitiesData.filter(function(item) {
                        return item.EntityID === '18496' && item.Name !== '';
                    })

                    var assets = filters.EntitiesData.filter(function(item) {
                        return item.EntityID === '1130' && item.Name !== '';
                    })

                    $.each(locations, function(i, ele) {
                        $("#locs").append('<option value="' + ele.Name + '">' + ele.Name + '</option>')

                    });

                    $.each(lists, function(i, ele) {
                        $("#ins").append('<option value="' + ele.Name + '">' + ele.Name + '</option>')

                    });

                    console.log(locations, assets, lists)
                    $("#locs").on('change', function() {
                        var val = $(this).val();

                        console.log(val)


                        if (val === 'Todos los clientes') {
                            locations = filters.EntitiesData.filter(function(item) {
                                return item.EntityID === '5423' && item.Name !== '';
                            })

                            lists = filters.EntitiesData.filter(function(item) {
                                return item.EntityID === '18496' && item.Name !== '';
                            })

                            $.each(lists, function(i, ele) {
                                $("#ins").append('<option value="' + ele.Name + '">' + ele.Name + '</option>')

                            });
        

                            console.log(locations, 'locnam')

                        } else {
                           

                            lists = filters.EntitiesData.filter(function(item) {
                                return item.EntityID === '18496' && item.Name !== '' && item.LocationName === val;
                            })

                            $("#ins").html("")


                            $.each(lists, function(i, ele) {
                                $("#ins").append('<option value="' + ele.Name + '">' + ele.Name + '</option>')

                            });

                            locations = locations.filter(function(item) {
                                return item.Name === val;
                            })
                        }


                        $("#general").html('');

                        construir(locations, lists, assets, data_);

                        app.isHtml = true;
                    })


                    $("#ins").on('change', function() {
                        var val = $(this).val();

                        if (val === 'Todos los insumos') {
                            lists = filters.EntitiesData.filter(function(item) {
                                return item.EntityID === '18496' && item.Name !== '';
                            })

                        } else {
                            lists = filters.EntitiesData.filter(function(item) {
                                return item.EntityID === '18496' && item.Name !== '' && item.Name === val;
                            })
                        }


                        $("#general").html('');

                        construir(locations, lists, assets, data_);

                        app.isHtml = true;
                    })

                    construir(locations, lists, assets, data_);



                }
            } catch (exc) {
                // // console.log("ucmycustoms_report", "ppal", exc);
            }

        }



        app.AfterLoadMyCustom = function(response, lan, filters, ) {
            try {
                return LoadMyCustoms(response, lan, filters);

            } catch (exc) {
                app.excManager("ucmycustoms_report", "AfterLoad", exc);
            }
        }
    </script>